@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@font-face {
	font-family: 'samarkan';
	src: url(assets/vendor/samarkan.ttf) format('truetype');
}
.hindi {
	font-family: 'samarkan';
}
.hand {
	font-family: 'Patrick Hand', cursive;
}
.topRoyal {
	background-color: #050505;
}
.topRoyalT {
	color: #050505;
}

.royal {
	background-color: #111111;
}
.royalT {
	color: #111111;
}
.end {
	background-color: #111111;
}

html {
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}
